:root {
    --main-font: "Montserrat", sans-serif;
    /*--second-family: "Raleway", sans-serif;*/

    --white: rgba(255, 255, 255, 1);
    --black: rgba(0, 0, 0, 1);
    --red: rgba(230, 32, 43, 1);

    /*--font-weight-regular: 400;*/
    /*--font-weight-medium: 500;*/
    /*--font-weight-bold: 700;*/

    font-family: var(--main-font), system-ui, -apple-system, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;

    color: var(--white);
    background-color: var(--black);

    /*font-synthesis: none;*/
    /*text-rendering: optimizeLegibility;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
    /*-webkit-text-size-adjust: 100%;*/
    /*text-size-adjust: 100%;*/
}

/*Region Body*/
body {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*min-width: 100vw;*/
    /*min-height: 100vh;*/
    /*margin: 0;*/
}
/*endregion*/

/*Region Container*/
.container {
    /*max-width: 320px;*/
    padding: 0 20px;
    margin: 0 auto;

    border-bottom: 1px solid var(--red);

    /*outline: 2px solid red;*/
    /*outline-offset: -2px;*/

}
/*endregion*/

/*Region Header*/
.container.header {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*flex-wrap: wrap;*/
}

.header-address {

}

.address-list {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-between;
    align-items: center;
}

.address-item {
    padding: 20px 0;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.logo {
    padding: 20px 20px 20px 0;
    position: inherit;
    left: -100%; /* Початкова позиція за межами лівого краю */
    animation: slideFromLeft 1.5s ease 0.3s forwards; /* Затримка 0.5 секунди */
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header-item {
    display: none;
}

.address-link:hover,
.header-link:hover,
.address-link:focus,
.header-link:focus  {
    color: var(--red);
    transition: color 0.3s ease-in;
}

.header-link {
    padding: 21px 0;
}
/*endregion*/

/*Region Mobile menu*/
.mobile-menu-btn {

}

.mobile-menu-btn-icon {
    fill: var(--red);
}
/*endregion*/

.hide {
    display: none;
}

/*Region Animation*/
/* Оголошення ключових кадрів */
@keyframes slideFromLeft {
    0% {
        left: -100%; /* Початкова позиція */
    }
    100% {
        left: 0; /* Кінцева позиція */
    }
}

@keyframes slideFromRight {
    0% {
        right: -100%; /* Початкова позиція */
    }
    100% {
        right: 0; /* Кінцева позиція */
    }
}
/*endregion*/

/*Region Media*/
@media only screen and (max-width: 419px) {
    .address-list {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 0;
    }

    .address-item {
        padding: 10px 0;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        padding: 0 40px;
    }
    .header-menu {
        position: relative;
    }
    .header-item {
        display: block;
        position: inherit;
        right: -150%; /* Початкова позиція за межами правого краю */
        animation: slideFromRight 1.5s ease 1.5s forwards; /* Затримка 1.5 секунди */
    }
    .header-item:not(:last-child) {
        margin-right: 30px;
    }
    .mobile-menu-btn {
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        /*max-width: 1024px;*/
    }
    .header-menu {
        flex-direction: row;
    }
}
/*endregion*/